<div class="container">
  <h2>Sign up below:</h2><br>

  <div class="signup-wrapper">
      <div class="signup-box">
        <form role="textbox" action="/signup" method="POST">
          <div class="prompt">
             <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Username">
          </div>
          <br>
           <div class="prompt">
              <input type="text" name="email" id="email" class="form-control input-lg" placeholder="Email">
           </div>
           <br>
           <div class="prompt">
              <input type="text" name="password" id="password" class="form-control input-lg" placeholder="Password">
           </div>
           <br>
           <div class="prompt">
            <input type="submit" value="Sign Up" class="btn btn-info">
          </div>
         </form>
      </div>
   </div>
  <h3>Already have an account? Click <a href="/login">here</a> to log in.</h3>
</div>
