<div class="container">
  <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h1>Welcome!</h1>
      </div>
      <h3>Sinatra Instrument Catalog</h3>

    <div class="content">
      <p>
        filler text
      </p>
    </div>


  </div>
</div>
