<div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h1>Welcome!</h1>
      </div>
      <h2>Organize Your Instrument Collection</h2>

      <div class="content">
        <h2><small>Ever wish you could keep a log of all of your instruments? Well now you can! Sign up or log in to get started.</small></h2>
      </div>

</div>
