<h1>Edit "<%= @instrument.name %>"</h1>

  <form role="textbox" action="/instruments/<%= @instrument.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <div class="prompt">
       <input type="text" name="name" id="name" class="form-control input-lg" placeholder="Instrument Name">
    </div>
     <br>
     <div class="prompt">
        <textarea name="description" id="description" class="form-control input-lg" placeholder="Instrument Description"></textarea>
     </div>
     <br>
    <div class="prompt">
      <button type="submit" class="btn btn-primary">Edit Instrument</button>
      <br>
    </div>
  </form>

  <h3>Change your mind? Go back to your list of instruments.</h3>
  <a href="/instruments" class="btn btn-info" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Go Back</a>
