<div class="container">
  <h1>Welcome <%= current_user.username %>!</h1>

  <h2>Your Instruments:</h2>

  <h2><small>Click on an instrument to edit its information.<small></h2>
  <% @instruments.each do |instrument| %>
  <h3><small><li><a href="instruments/<%=instrument.id%>"><%= instrument.name %></a></li><small></h3>
  <%end%>
<br>
  <h4>Need to add an instrument to your collection? Click <a href="/new">here</a>.</h4>
  <a href="/logout" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-log-out"></span> Log Out </a>
</div>
