<div class="container">
  <% if flash[:message] != nil %>
    <h2><small> <%= flash[:message] %> </small></h2>
  <%end%>

  <h1>Welcome <%= current_user.username %>!</h1>

  <h2>Your Instrument Collection:</h2>

  <h2><small>Click on an instrument for more information.<small></h2>
  <% @instruments.each do |instrument| %>
  <h3><small><li><a href="instruments/<%=instrument.id%>"><%= instrument.name %></a></li><small></h3>
  <%end%>
  <br>
  <a href="/new" class="btn btn-success" role="button"><span class="glyphicon glyphicon-file"></span> New Instrument </a>
  <br><br>
  <a href="/logout" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-log-out"></span> Log Out </a>
</div>
