<div class="container">
  <h1>Welcome <%= @user.username %>!</h1>

  <h2>Your Instruments:</h2>

  <h3>Click on an instrument to edit its information.</h3>

  <h4>Need to add an instrument to your collection? Click <a href="/new">here</a>.</h4>
</div>
