<h1>Add an Instrument to Your Collection!</h1>

  <form role="textbox" action="/instruments" method="POST">
    <div class="prompt">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-music"></span>
        </div>
        <input type="text" name="name" id="name" class="form-control input-lg" placeholder="Instrument Name">
      </div>
    </div>
     <br>
     <div class="prompt">
       <div class="input-group">
         <div class="input-group-addon">
           <span class="glyphicon glyphicon-list"></span>
         </div>
         <textarea name="description" id="description" class="form-control input-lg" placeholder="Instrument Description"></textarea>
       </div>
     </div>
     <br>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add Instrument</button>
    </div>
  </form>
