<div class="container">
  <h1><%= @instrument.name %> </h1>
  <h3><small><%= @instrument.description %><small></h3>

  <h2><small><a href="/instruments/<%= @instrument.id %>/edit">Edit this instrument</a></small></h2>

  <form method="POST" action="/instruments/<%= @instrument.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Instrument">
  </form>


</div>
